@model DAW.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings and edit your profile</h4>
    <hr />
    <dl>
        <!-- class="dl-horizontal"-->
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <br />
        @if (ViewBag.Profiles != null)
        {
        <dt> Manage profiles</dt>
            foreach(var profile in ViewBag.Profiles)
            {


            <dd><a href="/Profile/Edit/@profile.Id">@profile.User.UserName</a></dd>
            }
        }
    </dl>

</div>
