
@{
    ViewBag.Title = "Show";
}
<h2> @ViewBag.Category.Name</h2>
@foreach (var subject in ViewBag.Subjects)
{
    @Html.Label("")
    <p> @subject.Title</p>
    <p> @subject.Content</p>

    <a class="btn btn-success" href="/subject/show/@subject.Id">Afisare subiect</a>
    <a class="btn btn-success" href="/subject/edit/@subject.Id">Editare subiect</a>
    <form method="post" action="/subject/delete/@subject.Id">
        @Html.HttpMethodOverride(HttpVerbs.Delete)
        <button class="btn btn-success" type="submit">Stergere subiect</button>
    </form>
    <br />
    <hr />
    <br />

}

<br />
<a class="btn btn-info" href="/category/addsubject/@ViewBag.Category.Id"> Adauga subiect </a>
<br />
