@model DAW.Models.Subject
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form method="post" action="/subject/edit/@ViewBag.Subject.Id">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <label> Titlu subiect </label>
    <br />
    <input type="text" name="Title" value="@ViewBag.Subject.Title"/>
    @Html.ValidationMessageFor(m => m.Title, null, new { @class = "text-danger" })
    <br />
    <label> Descriere subiect </label>
    <br />
    <input type="text" name="Content" value="@ViewBag.Subject.Content"/>
    @Html.ValidationMessageFor(m => m.Content, null, new { @class = "text-danger" })
    <br />
    <label> Categorie </label>
    <br />
    <select name="CategoryId">
        @foreach(var category in ViewBag.Categories)
        {
            <option @if(category.Id == ViewBag.Category.Id)
                    {
                        @: selected="selected"
                    }
                    value="@category.Id"
            >
                @category.Name
            </option>
        }
    </select>
    <br />
    <br />
    <button class="btn btn-success" type="submit">Actualizeaza subiect</button>
</form>
