
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<h2>@ViewBag.Subject.Title</h2>
<p>@ViewBag.Subject.Content</p>


@foreach (var message in ViewBag.Messages)
{
    @Html.Label("Title", "Denumire subiect")
    @Html.Label("Content", "Text")
    <p>@message.Content</p>
    <a class="btn btn-success" href="/Message/Show/@message.Id">Afisare mesaj</a>
    <a class="btn btn-success" href="/Message/Edit/@message.Id">Editare mesaj</a>
    <br />
    <hr />
    <br />
}